{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/test.css' %}">

<form action="/deposit" method="POST">
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<input type="text" placeholder="Message" name="message" id="message"/><br/>
<input type="text" placeholder="code" name="code" id="code"/><br/>
<input type="text" placeholder="Identity String" name="id-str" id="id-str"/><br/>

<input type="text" placeholder="Merchant SSN" name="ssn" id="ssb"/><br/>
<button id="testme">Deposit</button>
</form>

